<!DOCTYPE html>
<html>
<head>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
</head>
<body>
	<div id="app" class="container">
		<div class="row">
			<div class="col-xs-4">
				<currency-input v-model="amount" v-bind:is-format="true"></currency-input>
			</div>			
		</div>	  
	</div>	
	<script>
		Vue.component("currency-input", {
            template: `
                    <div class="input-group">
                        <div class= "input-group-addon"> $</div>
                        <input type="text" class="form-control" @blur="onBlur" v-model="displayValue" 
						@keydown="isNumber" @focus="selectAll" v-bind:tabindex="tabindex" v-bind:disabled="disabled">
                    </div>`,
            props: ["value", "tabindex", "disabled", "isFormat"],
            data: function () {
                return {
                    isActive: false					
                }
            },
            computed: {
                displayValue: {
                    get: function () {                        
                        if (typeof (this.value) === "number") {                             
                            if (this.isFormat == true && this.isActive) {
								//format while typing
								var components = this.value.toString().split(".");
								components[0] = components[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
								return components.join(".");                                
                            }
							if (!this.isActive){
								//format display
								return this.value.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");                            
							}						
                        }
                        return this.value;
                    },
                    set: function (modifiedValue) {
                        var newValue = parseFloat(modifiedValue.replace(/[^\d\.]/g, ""));
                        // Ensure that it is not NaN
                        if (isNaN(newValue)) {
                            newValue = 0;
                        }
                        this.$emit("input", newValue);
                    }
                }
            },
            methods: {  
                isNumber: function(evt) {                    
                    var keyCode = (evt.which) ? evt.which : event.keyCode;
                    // Ctrl + a, c, v
                    if (evt.ctrlKey && ([65, 67, 86].indexOf(keyCode) != -1))
                        return true;
                    // Left & Right Arrow
                    if ([37, 39].indexOf(keyCode) != -1)
                        return true;
                    // Top Number Key
                    if (keyCode >= 48 && keyCode <= 57)
                        return true;
                    // Numpad Number Key
                    if (keyCode >= 96 && keyCode <= 105)
                        return true;
                    // Backspace, Delete, and Tab
                    if (keyCode == 8 || keyCode == 9 || keyCode == 46)
                        return true;
                    // Dot, and Check if there is Dot
                    if ((keyCode == 110 || keyCode == 190) && (this.displayValue + "").indexOf(".") == -1)
                        return true;
                    evt.preventDefault();
                    return false;
                    },
                onBlur: function () {
                    this.isActive = false;
                    this.$emit('blur');
                },
                selectAll: function (event) {
                    this.isActive = true;
                    setTimeout(function () {
                        event.target.select()
                    }, 0)
                }
            }
        });
		new Vue({
			el: "#app",
			data:{
				amount: 0
			}
		});
	</script>
</body>
</html>
